/**
 * LSX Starter Child styles
 *
 * @package 	lsx-starter-child-theme
 */
@font-face {
  font-family: 'StardosStencil';
  src: url(../fonts/StardosStencil-Regular.ttf) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'StardosStencil-Bold';
  src: url(../fonts/StardosStencil-Bold.ttf) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-Regular.ttf) format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Raleway", sans-serif; }

h1, h2, h4, h5 {
  font-family: "StardosStencil-Bold", sans-serif;
  text-transform: uppercase;
  color: #222222; }

h3 {
  font-family: "Raleway", sans-serif;
  color: #4a4a4a; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 20px; }

p {
  font-family: "Raleway", sans-serif;
  font-size: 15px; }

.big-h {
  font-size: 55px; }

.has-dark-orange-color {
  color: #f7941d; }

.has-orange-color {
  color: #eda700; }

.has-dark-gray-color {
  color: #222222; }

.has-light-gray-color {
  color: #f6f6f6; }

.has-blue-color {
  color: #013343; }

.has-dark-blue-color {
  color: #01213a; }

.has-white-color {
  color: white; }

.has-black-color {
  color: black; }

.has-dark-orange-background-color {
  background-color: #f7941d; }

.has-orange-background-color {
  background-color: #eda700; }

.has-dark-gray-background-color {
  background-color: #222222; }

.has-light-gray-background-color {
  background-color: #f6f6f6; }

.has-blue-background-color {
  background-color: #013343; }

.has-dark-blue-background-color {
  background-color: #01213a; }

.has-white-background-color {
  background-color: white; }

.has-black-background-color {
  background-color: black; }

.white {
  color: white !important; }

.white-bg {
  background-color: white; }

.no-padding {
  padding: 0; }

.center-top .lsx-container-image {
  object-position: top; }

.breadcrumbs-container a:not(.btn), .breadcrumbs-container a:not(.btn):active, .breadcrumbs-container a:not(.btn):visited {
  color: #418AD0 !important; }

.bobo-list {
  padding: 0;
  list-style: none; }
  .bobo-list li {
    display: flex;
    margin-bottom: 5px; }
    .bobo-list li::before {
      content: url("../images/icon-star.svg");
      margin-right: 20px;
      position: relative;
      bottom: 3px; }
  .bobo-list.safari-list li:first-child::before {
    content: url("../images/icon-baboon.svg"); }
  .bobo-list.safari-list li:nth-child(2)::before {
    content: url("../images/icon-hyena.svg"); }
  .bobo-list.safari-list li:nth-child(3)::before {
    content: url("../images/icon-waterproof.svg"); }
  .bobo-list.safari-list li:nth-child(4)::before {
    content: url("../images/icon-thief.svg"); }
  .bobo-list.safari-list li:nth-child(5)::before {
    content: url("../images/icon-shotgun.svg"); }
  .bobo-list.adventure-list li:first-child::before {
    content: url("../images/icon-party.svg"); }
  .bobo-list.adventure-list li:nth-child(2)::before {
    content: url("../images/icon-waterproof.svg"); }
  .bobo-list.adventure-list li:nth-child(3)::before {
    content: url("../images/icon-kayak.svg"); }
  .bobo-list.adventure-list li:nth-child(4)::before {
    content: url("../images/icon-mountain.svg"); }
  .bobo-list.adventure-list li:nth-child(5)::before {
    content: url("../images/icon-adventure.svg"); }

.no-shadow .lsx-button {
  box-shadow: none !important; }

.transparent .lsx-button {
  border: 2px solid; }
  .transparent .lsx-button:not(:hover) {
    background-color: transparent !important; }

.black-title {
  background-color: black;
  color: white !important;
  padding: 5px 0 0px 0; }

#masthead .primary-navbar {
  align-items: flex-end; }
  #masthead .primary-navbar > .nav > .menu-item > a, #masthead .primary-navbar > .nav .menu-item.active > a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: bold; }

.lsx-block-banner.title-bottom {
  background-color: #ffffff !important; }

.lsx-block-banner .lsx-banner-title {
  font-size: 24px !important; }

.woocommerce-page .lsx-wc-checkout-steps {
  padding-top: 8.4rem; }

.wpforms-submit-container button {
  background-color: #013343;
  box-shadow: 2px 2px 0 0 #01213a; }

#footer-widgets .widget .widget-title {
  font-family: "StardosStencil-Bold", sans-serif;
  color: white;
  text-transform: uppercase; }

#footer-widgets .widget #menu-social-menu {
  display: flex;
  justify-content: space-between;
  max-width: 290px; }
