/**
 * LSX Starter Child styles
 *
 * @package 	lsx-starter-child-theme
 */

// ---------- Mixins ----------


@mixin box-shadow($args) {
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	-o-box-shadow: $args;
	box-shadow: $args;
}

@mixin text-shadow($args) {
	-webkit-text-shadow: $args;
	-moz-text-shadow: $args;
	-o-text-shadow: $args;
	text-shadow: $args;
}

@mixin border-radius($args) {
	-webkit-border-radius: $args;
	-moz-border-radius: $args;
	-o-border-radius: $args;
	border-radius: $args;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}


// ---------- Placeholders: Global ----------


%clear-div {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: "";
		clear: both;
		height: 0;
	}
}


// ---------- Styles ---------- //

// Variables

$light-gray: #f6f6f6;
$gray: #4a4a4a;
$dark-gray: #222222;
$blue: #013343;
$dark-blue: #01213a;
$dark-orange: #f7941d;
$orange: #eda700;

// Fonts

@font-face {
	font-family: 'StardosStencil';
	src: url(../fonts/StardosStencil-Regular.ttf) format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'StardosStencil-Bold';
	src: url(../fonts/StardosStencil-Bold.ttf) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Regular.ttf) format('woff');
	font-weight: normal;
	font-style: normal;
}

$raleway: 'Raleway', sans-serif;
$stardos: 'StardosStencil', sans-serif;
$stardosbold: 'StardosStencil-Bold', sans-serif;
$awesome: FontAwesome;

body {
    font-family: $raleway;
}
h1, h2, h4, h5 {
	font-family: $stardosbold;
	text-transform: uppercase;
	color: $dark-gray;
}
h3 {
	font-family: $raleway;
	color: $gray;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 20px;
}
p {
	font-family: $raleway;
	font-size: 15px;
}
.big-h {
	font-size: 55px;
}

// Basic colors

.has-dark-orange-color {
	color: $dark-orange;
}
.has-orange-color {
	color: $orange;
}
.has-dark-gray-color {
	color: $dark-gray;
}
.has-light-gray-color {
	color: $light-gray;
}
.has-blue-color {
	color: $blue;
}
.has-dark-blue-color {
	color: $dark-blue;
}
.has-white-color {
	color: white;
}
.has-black-color {
	color: black;
}
.has-dark-orange-background-color {
	background-color: $dark-orange;
}
.has-orange-background-color {
	background-color: $orange;
}
.has-dark-gray-background-color {
	background-color: $dark-gray;
}
.has-light-gray-background-color {
	background-color: $light-gray;
}
.has-blue-background-color {
	background-color: $blue;
}
.has-dark-blue-background-color {
	background-color: $dark-blue;
}
.has-white-background-color {
	background-color: white;
}
.has-black-background-color {
	background-color: black;
}

// Helpers
.white {
	color: white !important;
}
.white-bg {
	background-color: white;
}
.no-padding {
	padding: 0;
}
.center-top {
	.lsx-container-image {
		object-position: top;
	}
}

.breadcrumbs-container a:not(.btn), .breadcrumbs-container a:not(.btn):active, .breadcrumbs-container a:not(.btn):visited {
    color: #418AD0 !important;
}

.bobo-list {
	padding: 0;
	list-style: none;
	li {
		display: flex;
		margin-bottom: 5px;
		&::before {
			content: url('../images/icon-star.svg');
			margin-right: 20px;
			position: relative;
			bottom: 3px;
		}
	}
	&.safari-list {
		li {
			&:first-child {
				&::before {
					content: url('../images/icon-baboon.svg');
				}
			}
			&:nth-child(2) {
				&::before {
					content: url('../images/icon-hyena.svg');
				}
			}
			&:nth-child(3) {
				&::before {
					content: url('../images/icon-waterproof.svg');
				}
			}
			&:nth-child(4) {
				&::before {
					content: url('../images/icon-thief.svg');
				}
			}
			&:nth-child(5) {
				&::before {
					content: url('../images/icon-shotgun.svg');
				}
			}
		}
		
	}
	&.adventure-list {
		li {
			&:first-child {
				&::before {
					content: url('../images/icon-party.svg');
				}
			}
			&:nth-child(2) {
				&::before {
					content: url('../images/icon-waterproof.svg');
				}
			}
			&:nth-child(3) {
				&::before {
					content: url('../images/icon-kayak.svg');
				}
			}
			&:nth-child(4) {
				&::before {
					content: url('../images/icon-mountain.svg');
				}
			}
			&:nth-child(5) {
				&::before {
					content: url('../images/icon-adventure.svg');
				}
			}
		}
		
	}
}
.no-shadow {
	.lsx-button {
		box-shadow: none !important;
	}
}
.transparent {
	.lsx-button {
		border: 2px solid;
		&:not(:hover) {
			background-color: transparent !important;
			
		}
	}
}
.black-title {
	background-color: black;
    color: white !important;
    padding: 5px 0 0px 0;
}

// Header 

#masthead {
	.primary-navbar {
		align-items: flex-end;
		> .nav {
			> .menu-item, .menu-item.active  {
				> a {
					font-family: $raleway;
					text-transform: uppercase;
					font-weight: bold;
				}
			}
		}
	}
}

// Banners 

.lsx-block-banner {
	&.title-bottom {
		background-color: #ffffff !important;
	}
	.lsx-banner-title {
		font-size: 24px !important;
	}
}

.woocommerce-page {
	.lsx-wc-checkout-steps {
		padding-top: 8.4rem;
	}
}

// Contact

.wpforms-submit-container button {
    background-color: $blue;
    box-shadow: 2px 2px 0 0 $dark-blue;
}

// Footer 

#footer-widgets {
	.widget {
		.widget-title {
			font-family: $stardosbold;
			color: white;
			text-transform: uppercase;
		}
		#menu-social-menu {
			display: flex;
			justify-content: space-between;
			max-width: 290px;
		}
	}
}